:root {
    --dark: #182939;
    --semi-dark: #254967;
    --bal-dark: #316b98;
    --light: #66a1ca;
    --light-v1: #cadded;
    --light-v2: #e7eff7;
    --light-v3: #f4f7fb;
    ---font-main: 'Satoshi', sans-serif;
    --font-sub: 'Clash Display', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(218, 218, 218, 0.115);
}

::-webkit-scrollbar-thumb {
    background: #640282;
    border-radius: 20px;
}

body {
    background-image: url("Kandy-Model-School-official-web-site-43.jpg");
    background-position: fixed;
    backdrop-filter: brightness(-100);
}

.class-top {
    position: fixed;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(25deg, #1b22fb, #844bea, #b573d8, #da9bc5);
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    opacity: .5;
    transition: .2s;
    z-index: 9999;
}

@media (max-width: 768px) {
    .class-top {
        width: 35px;
        height: 35px;
    }

    .class-top img {
        width: 17px;
        height: 17px;
    }
}

.class-top:hover {
    opacity: 1;
    transition: .2s;
}

.content-max-header {
    width: 40%;
    min-height: 300px;
    margin-inline: auto;
    margin-top: 20px;
    background: rgba(231, 239, 247, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(231, 239, 247, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content-max-header img {
    width: 160px;
    height: 150px;
}

.content-max-header .school {
    width: 110px;
    height: 150px;
}

.content-max-header h1 {
    font-size: 50px;
    font-family: var(--font-sub);
}

.content-max-header p {
    font-size: 20px;
    font-family: var(---font-main);
    color: #2a2a2ab1;
}

.main-viewport {
    width: 80%;
    margin-inline: auto;
    height: auto;
    background-color: #fff;
    box-shadow: 2px 3px 10px #61616130;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 5px 15px #2d2d2da2;
}

.nav-bar {
    max-width: 100%;
    min-height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar a {
    padding: 6px 10px;
    font-family: var(---font-main);
    text-decoration: none;
    color: var(--semi-dark);
    position: relative;
}

.nav-bar a::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--semi-dark);
    bottom: 0;
    left: 0;
    transition: .3s;
}

.nav-bar a:hover::after {
    width: 100%;
    transition: .3s;
}

@media (max-width:768px) {
    .content-max-header {
        width: 80%;
        height: 250px;
    }
    .content-max-header img {
        width: 100px;
        height: 100px;
    }

    .content-max-header .school {
        width: 80px;
        height: 100px;
    }

    .content-max-header h1 {
        font-size: 40px;
    }

    .content-max-header p {
        font-size: 17px;
    }

    .main-viewport {
        width: 96%;
        margin-inline: auto;
    }

    .nav-bar .inactive {
        display: none;
    }
}

.welcome-box {
    max-width: 100%;
    min-height: 700px;
    background-color: transparent;
    background-image: url("Grad_15.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-box h1 {
    font-size: 76px;
    font-family: var(--font-sub);
    opacity: .9;
    text-align: center;
    color: #182939;
}

.welcome-box p {
    font-family: var(---font-main);
    color: var(--bal-dark);
}

.welcome-box button {
    width: 130px;
    height: 36px;
    background-color: var(--dark);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-family: var(--font-sub);
    margin-top: 50px;
    transition: .2s;
    cursor: pointer;
}

.welcome-box button:hover {
    background-color: transparent;
    border: 2px solid var(--dark);
    color: var(--dark);
    transition: .2s;
}

@media screen and (max-width: 768px) {
    .welcome-box h1 {
        font-size: 60px;
    }

    .welcome-box p {
        font-size: 16px;
        color: #182939;
        text-align: center;
        padding: 6px;
    }
}

.about-us {
    margin-top: 300px;
    max-width: 100%;
    min-height: 700px;
    background-image: url("Grad_01.png");
    background-size: cover;
}

.about-us h1 {
    padding: 10px;
    font-family: var(--font-sub);
    font-size: 50px;
    color: var(--bal-dark);
    text-align: center;
}

.about-box {
    width: 50%;
    min-height: 650px;
    margin-inline: auto;
    background: rgba(231, 239, 247, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(231, 239, 247, 0.7);
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-box h1 {
    padding: 10px;
    font-size: 50px;
    font-family: var(--font-sub);
    color: var(--dark);
}

.about-box p {
    padding: 20px;
    font-size: 16px;
    font-family: var(---font-main);
}

@media (max-width: 768px) {
    .about-us .about-box {
        width: 95%;
    }
}

.events {
    margin-top: 300px;
    max-width: 100%;
    min-height: 700px;
    background-color: transparent;
    background-image: url("Grad_15.png");
    background-size: cover;
}

.events h1 {
    padding: 20px;
    font-size: 50px;
    font-family: var(--font-sub);
    text-align: center;
    color: var(--dark);
}

.events-boxes-r1 {
    max-width: 100%;
    margin-top: 100px;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.events-boxes-r1 button:hover {
    background-color: transparent;
    border: 2px solid var(--dark);
    color: var(--dark);
    transition: .2s;
}

.box-1-eve,
.box-2-eve {
    width: 400px;
    height: 500px;
    background: rgba(231, 239, 247, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(231, 239, 247, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.events-boxes-r2 {
    max-width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.events-boxes-r2 button:hover {
    background-color: transparent;
    border: 2px solid var(--dark);
    color: var(--dark);
    transition: .2s;
}

.box-3-eve,
.box-4-eve,
.box-5-eve {
    width: 350px;
    height: 400px;
    background: rgba(231, 239, 247, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(231, 239, 247, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-1-eve,
.box-2-eve>p {
    font-size: 20px;
    padding: 12px;
    font-family: var(---font-main);
}

.box-3-eve,
.box-4-eve,
.box-5-eve {
    font-size: 18px;
    padding: 12px;
    font-family: var(---font-main);
}

.box-1-eve button {
    width: 130px;
    height: 36px;
    background-color: var(--dark);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-family: var(--font-sub);
    margin-top: 50px;
    transition: .2s;
    cursor: pointer;
}

.box-2-eve button {
    width: 130px;
    height: 36px;
    background-color: var(--dark);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-family: var(--font-sub);
    margin-top: 50px;
    transition: .2s;
    cursor: pointer;
}

.box-3-eve button {
    width: 130px;
    height: 36px;
    background-color: var(--dark);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-family: var(--font-sub);
    margin-top: 50px;
    transition: .2s;
    cursor: pointer;
}

.box-4-eve button {
    width: 130px;
    height: 36px;
    background-color: var(--dark);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-family: var(--font-sub);
    margin-top: 50px;
    transition: .2s;
    cursor: pointer;
}

.box-5-eve button {
    width: 130px;
    height: 36px;
    background-color: var(--dark);
    color: #fff;
    border: none;
    border-radius: 20px;
    font-family: var(--font-sub);
    margin-top: 50px;
    transition: .2s;
    cursor: pointer;
}

@media (max-width: 768px) {
    .events {
        background-size: cover;
        background-position: center;
    }

    .events-boxes-r1 {
        flex-direction: column;
        font-size: 17px;
    }

    .events-boxes-r2 {
        max-width: 100%;
        flex-direction: column;
    }

    .box-1-eve {
        width: 90%;
        margin-inline: auto;
        margin-top: 10px;
    }

    .box-2-eve {
        width: 98%;
        margin-top: 10px;
    }

    .box-3-eve,
    .box-4-eve,
    .box-5-eve {
        width: 90%;
        margin-inline: auto;
        margin-top: 10px;
    }

    .learn button {
        background-color: none;
    }
}

.learn {
    max-width: 100%;
    min-height: 650px;
    margin-top: 200px;
    background-color: transparent;
    background-image: url("Grad_15.png");
    background-size: cover;
}

.learn-boxes {
    max-width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.learn-box-1,
.learn-box-2,
.learn-box-3 {
    width: 80%;
    height: 120px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1.5px solid var(--bal-dark);
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.learn-box-1,
.learn-box-2,
.learn-box-3 p {
    padding: 20px;
    font-family: var(---font-main);
    font-size: 16px;
}

.learn button {
    width: 100px;
    height: 30px;
    border: none;
    background-color: var(--dark);
    color: #fff;
    border-radius: 20px;
    font-family: var(--font-sub);
    font-size: 12px;
    transition: .2s;
    cursor: pointer;
}

.learn button:hover {
    background-color: transparent;
    color: var(--dark);
    border: 1.5px solid var(--dark);
    transition: .2s;
}

.marquee-container{
    max-width: 90%;
    margin-inline: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    background-image: transparent;
    overflow: hidden;
    border-top: 3px solid var(--dark);
    border-bottom: 3px solid var(--dark);
}

.marquee{
    font-size: 60px;
    line-height: 1.3;
    font-family: var(---font-main);
    padding: 24px 0;
    color: var(--dark);
    white-space: nowrap;
    animation: marquee 35.5s infinite linear;
}

.marquee:hover {
    animation-play-state: paused;
}

@media (max-width: 768px) {
    .marquee {
        font-size: 40px;
    }
}

.marquee:after{
    content: "ICT CLUB - KANDY MODEL SCHOOL - WELCOME !!!";
}

@keyframes marquee{
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-50%)
    }
}
